@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.border {
    border: 1px solid white;
}

.border-teal-700 {
    border-color: teal;
}

.border-text-disabled {
    border-color: '#ffffff80';
}

.border-disabled {
    border: 1px solid #ffffff80;
}

.border-right {
    border-right-width: 0px;
}

.border-left {
    border-left-width: 0px;
}